*{padding:0px;
 margin:0px;}


h2{
    color: var(--secondary);
    font-family: var(--title-font);
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    border-style:solid;
    border-color: #62011D;
    background: #62011D;
}

h3{
    color: var(--primary);
    font-family: var(--title-font);
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    padding-top: 1%;
}

p{
    --main-font:'Raleway',sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}

a{ 
 text-decoration:none;
 color:black;
} 


.background_wine{
    background-image: url("../images/vignes.jpg");
    background-size: cover;
    height: 500px;
    width: 100%;
} 

h3{
    text-align: center;
}

.wine_container{
  width:100%;
}
.wine_container,a{
    text-align: center;
}

.col-md-2{
 margin:20px 50px 20px 0;
}




